<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EMDPalettesTest</key>
	<dict>
		<key>Grape</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>0</real>
			<key>red</key>
			<real>0.501960813999176</real>
		</dict>
		<key>Lemon</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0</real>
			<key>green</key>
			<real>1</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>Lime</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0</real>
			<key>green</key>
			<real>1</real>
			<key>red</key>
			<real>0.501960813999176</real>
		</dict>
		<key>Magenta</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>0</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>Maraschino</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0</real>
			<key>green</key>
			<real>0</real>
			<key>red</key>
			<real>1</real>
		</dict>
		<key>Mocha</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>0</real>
			<key>green</key>
			<real>0.250980406999588</real>
			<key>red</key>
			<real>0.501960813999176</real>
		</dict>
		<key>Snow</key>
		<dict>
			<key>alpha</key>
			<real>1</real>
			<key>blue</key>
			<real>1</real>
			<key>green</key>
			<real>1</real>
			<key>red</key>
			<real>1</real>
		</dict>
	</dict>
</dict>
</plist>
